<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Pro Sec - Work</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../stylesheets/home.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Pro Sec - Work</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pessoas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Riscos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">EPI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GHE</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/usuarios">Usuários<span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <a href="/logout" class="navbar-brand">Logout</a>
    </div>
  </nav>

  <main role="main" class="container">

    <div class="starter-template">
      <h1>Usuários</h1>
      <div class="zg-body">
        <zing-grid src="/usuarios/dadosusuarios" editor editor-controls> 
          <zg-colgroup>
            <zg-column index="username"></zg-column>
            <zg-column index="email"></zg-column>
          </zg-colgroup>
        </zing-grid>
      </div>
      </div>

  </main><!-- /.container -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.zinggrid.com/dev/zinggrid-dev.min.js"></script>
</body>

</html>